.download_button svg path {
  transition: 0.3s ease all;
}
.download_button:hover svg path {
  fill: #ff014f !important;
}

.tab_parent svg {
  height: 28px;
  width: 28px;
}
.active_icon svg path {
  fill: white;
  /* stroke: white; */
}

@media (max-width: 639.98px) {
  .tab_parent svg {
    height: 20px;
    width: 20px;
  }
}
