@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  color: white;
  background: #222327;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ff014f;
  border-radius: 10px;
}
